{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class=" {{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="row">
        <div class="col-2">
        {% if post.image %}
            {% if post.collection == 'publications' %}
                <a href="{{ base_path }}{{ post.url }}" rel="permalink" class="pubTitle">
            {% elsif post.link %}
                <a href="{{ post.link }}">
            {% else %}
                <a href="{{ base_path }}{{ post.url }}" rel="permalink" class="pubTitle">
            {% endif %}
            <img src= "{{post.image}}" style="position:relative; top:25%;" class="img-responsive"
            alt="{{post.image}}" href="{{ base_path }}{{ post.url }}" rel="permalink" />
            </a>
        {% endif %}
        </div>
    <div class="col-10">
    <p class="archive__item-title" itemprop="headline" >
      {% if post.collection == 'publications' %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink" class="pubTitle">{{ title }}</a>
      {% elsif post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink" class="pubTitle"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink" class="pubTitle">{{ title }}</a>
      {% endif %}
    </p>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.collection == 'publications' %}
            
      <!-- citation and icon code -->
      <p class="postDescription">
        {% if post.authors %}
            {{ post.authors }}
            <br />
            {% if post.venue %}
                {{ post.venue }}, {{post.year}}
            {% endif %}
            
            <!-- {% if post.doiurl and post.doi %}
                <a href="{{ post.doiurl }}" target="_blank" title="DOI">{{ post.doi }}</a>
            {% endif %} -->
        {% endif %}
      <!-- <br> -->
      {% if post.doiurl %}
      <a href="{{ post.doiurl }}" target="_blank" target="_blank" title="DOI"><i class="ai ai-doi ai-fw" aria-hidden="true"></i></a>
      {% endif %}
      {% if post.link %}
        <a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
      {% endif %}
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank" title="PDF"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
      {% endif %}
      {% if post.code %}
        <a href="{{ post.code }}" target="_blank" title="Code"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
      {% endif %}
      {% if post.github %}
        <a href="{{ post.github }}" target="_blank" title="GitHub"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
      {% endif %}
     
      {% if post.video %}
        <a href="{{ post.video }}" target="_blank" title="Video"><i class="fas fa-fw fa-video zoom" aria-hidden="true" ></i></a>
      {% endif %}
      {% if post.demo %}
        <a href="{{ post.demo }}" target="_blank" title="Demo"><i class="fas fa-fw fa-desktop zoom" aria-hidden="true" ></i></a>
      {% endif %}
      </p>
    {% elsif post.collection == 'posts' and post.date %}
      <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}
    <!-- {% if post.abstract %}
        <details><summary>Abstract</summary>
        <blockquote>
        <p>
        {{ post.abstract }}
        </p>
        </blockquote>
        </details>
      {% endif %} -->
    
    
    {% if post.excerpt and post.collection == 'research' and site.read_more != 'enabled' %}
      <!-- <p class="archive__item-excerpt" itemprop="description">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
        <div class="container">
          {{ post.excerpt }}
          <div class="overlay">
          </div>
        </div>
        </a>
      </p> -->
    {% elsif post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
          <strong>
            <a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a>
          </strong>
        </p>
      </p>
    {% endif %}
    </div>
    </div>
  </article>
</div>