/* General styles can be added here */

/* Keyword Cloud Styles */
.keyword-cloud-container {
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.keyword-cloud-item {
  transition: all 0.1s ease;
  background-color: #f8f8f8;
  margin: 1px;
  line-height: 1.1;
  border-radius: 4px;
}

.keyword-cloud-item:hover {
  background-color: #eee;
}

.keyword-cloud-item-active {
  font-weight: 700;
}
.selectedKeywords {
  font-weight: 700;
  text-decoration: underline;
}

.keyword-cloud-item sub {
  font-size: 9px;
  color: #777;
  margin-left: 1px;
}

/* Override styles for Tags component when used in keyword cloud */
.keyword-cloud-tags .flex {
  gap: 0.25rem;
  margin: 0;
}

.keyword-cloud-tags span {
  margin: 1px;
  line-height: 1.1;
}

/* Remove default margins from Tags component within keyword cloud */
.keyword-cloud-tags > div {
  margin: 0 !important;
}

/* Highlighted items containing selected keywords */
.highlighted-list-item,
.highlighted-card {
  border: 1px solid rgb(69, 69, 69) !important;
  box-shadow: 0 0 0 1px rgb(38, 38, 38, 0.5) !important;
  /* position: relative; */
  /* z-index: 1; */
}

/* Subtle zoom effect on card image hover */
.generic-card .card-image-container {
  overflow: hidden; /* Ensure image stays within container */
}

.generic-card .card-image-container img {
  transition: transform 0.3s ease-in-out;
  display: block; /* Avoid potential extra space below image */
  width: 100%; /* Ensure image tries to fill container */
  height: 100%; /* Ensure image tries to fill container */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

.generic-card:hover .card-image-container img {
  transform: scale(1.05); /* Zoom in slightly on hover */
}
